/* nav bar css start */
.weblogo{
    width: 65px;
}

.navbar{
    background: #00000082!important;
}
.navbar-nav li{
    padding: 0 10px;
}
.navbar-nav li a{
    color: #fff!important;
    font-weight: 600;
    font-size: 20px;
}
.cccccc 
{
    background: url(https://pn-paul.netlify.app/image/CONTACT-US.jpg);
    max-width: 100%;
    height: 560px;
    background-position: center;
    background-size: cover;
}
.moblogo{
    display: none;
}
.navbar-nav li a:hover{
    Background-color:orange;
    Transition: .3s;
    }
.navbar-nav li a{
    font-size: medium;
    font-weight: 200;
}

@media(max-width:768px)
{
    .img123{
        width: 100%;
        margin-top: 20px;
    }
    .weblogo{
        display: none;
    }
    .moblogo{
        display: block;
    }
    .navbar{
        background: #fbaa19!important;
    }
   
}
/* nav bar css end */
